<div style="text-align:center">
  <h1 class="title-page">Welcome to {{ title }}</h1>
</div>

<div class="list-container-padding">
  <mat-toolbar-row>
    <button mat-raised-button color="accent" (click)="randomQuiz()">
      Wheel of fortune
    </button>
    <span class="opts-spacer"></span>
    <button
      [disabled]="isBase"
      mat-raised-button
      color="accent"
      (click)="darBase()"
    >
      General
    </button>
    <span class="opts-spacer"></span>
    <button
      mat-icon-button
      aria-label="Example icon-button with a heart icon"
      class="icon-buttons"
      (click)="openDialog()"
    >
      <mat-icon>person_add</mat-icon>
    </button>
    <span class="opts-spacer"></span>
    <mat-form-field color="accent">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="selecciona un dia "
        (dateInput)="addEvent('input', $event)"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    </mat-form-field>

    <!--
          <button mat-icon-button aria-label="Example icon-button with a heart icon" class="icon-buttons">
            <mat-icon>how_to_reg</mat-icon>
        </button>
        -->
  </mat-toolbar-row>

  <table class="table-style">
    <thead>
      <tr>
        <th>Code</th>
        <th>Email</th>
        <th>First Name</th>
        <th *ngIf="isBase">Assistance Percentage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of students | async">
        <td>{{ item.code }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.name }}</td>
        <td *ngIf="isBase">{{ (item.assistancePercentage *100+'').substr(0,4) + '%' }}</td>
      </tr>
    </tbody>
  </table>

  <!--
      <h3>Student List</h3>
      <h3>Attendance Today</h3>
      <div class="flex-container">
        <div class="flex-container studentList">
          <mat-card class="example-card" *ngFor="let item of students | async">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
        
        <div class="flex-container studentList">  
          <mat-card class="example-card" *ngFor="let item of todayAttendance | async" id="attendance">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      -->
</div>
