<mat-card class="sign-in-card">

  <img src="assets/tgfLogo.png" alt="logo TGF"/>
  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" name="email" />
      <mat-error>
        {{ errorMessagesService.getFormErrorMessage(signInForm.get('email')) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" name="password" />
      <mat-error>
        {{ errorMessagesService.getFormErrorMessage(signInForm.get('password')) }}
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" class="sign-in-button">Ingresar</button>
    <div class="texto"> 
        ¿No tienes una cuenta?
        <u [routerLink]="['/register']">Registrate aquí</u> 
    </div>
  </form>
</mat-card>