<mat-toolbar color="primary" class="navbar">
  <div class="toolbar-element-left" routerLink="/" routerLinkActive="active">Attendance app</div>
  <div class="search-form">
          <mat-form-field class="search-form-full-width" appearance="outline">
            <input type="text" placeholder="Search your course" aria-label="Course" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="goTo(option)">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  </div>
  <div class="toolbar-element-right">
      <button *ngIf="!isLoggedIn" mat-raised-button color="accent" (click)="signInDialog()">
          Sign in
      </button>
      <ng-container *ngIf="isLoggedIn">
        <div class="barContainer">
          {{currentUser.displayName}}
          <img src="assets/signOut.png" class="signOut" (click)="signOut()" />
        </div>
      </ng-container>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<app-loading></app-loading>