.navbar{
    justify-content: space-between;
}

.span{
    font-size: 10pt;
}

.search-form-full-width {
    width: 100%;
    font-size: 10pt;
    top: 0.6em;
}

.search-form {
    width: 50%;
}

#search-button{
    top:0.5em;
}


.toolbar-element-right{
    padding-right: 3%;
}

.toolbar-element-left{
    padding-left: 6%;
}