/**
.bg-students-list {
    overflow: visible !important;
    height: 1000px;
    background: -webkit-linear-gradient(45deg, #ffc125 10%, #fff23b 90%);
    background: -moz-linear-gradient(45deg, #ffc125 10%, #fff23b  90%);
    background: -ms-linear-gradient(45deg, #ffc125 10%, #fff23b  90%);
    background: -o-linear-gradient(45deg, #ffc125 10%, #fff23b  90%);
    background: linear-gradient(45deg, #ffc125 10%, #fff23b  90%);
   }
**/
  


  #title-landing {
    position: absolute;
    left: 50%;
    padding-top: 5%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Open Sans, sans-serif;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
  }
  
  @keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  .marginauto {
      margin: 10px auto 20px;
      display: block;
  }
