
:host {

  .form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  mat-card-header {
    justify-content: center;
  }

  mat-form-field {
    width: 45%;
    margin: 0 10px 0 10px;
  }
}

.register-button {
  margin: 1rem 1rem 0.5rem 1rem;
  text-transform: uppercase;
}

.texto {
    margin: 1rem 1rem 0.5rem 1rem;
    u {
        color: blue;
        cursor: pointer;
    }
}

